extends base.pug


block content
  div#videoContainer(data-id=video._id)
    video(src="/" + video.fileUrl)
    div#videoController.videoControls
        div.videoControls__play
          span#play.videoControls__playBtn
            i.fas.fa-play
        input(type="range", value=0 min="0", step="1")#timeline.videoControls__timeline
        div.videoControls__time
            span#currentTime 00:00
            span /
            span#totalTime 00:00
        div.videoControls__volume
            input(type="range", value=0.03 min="0", max="1", step="0.1")#volume
            span#mute
              i.fas.fa-volume-up      
            span#fullScreen
              i.fas.fa-expand
              
  div.video__data
    h1.video__title=video.title
    p#hashtags=video.hashtags
    small.video__createdAt=video.createdAT.toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    hr
    small.video__owner Uploaded by 
        a(href=`/users/${video.owner._id}`) #{video.owner.name}
    p#description=video.description
  div.videoInfo-logged
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit
        br
        a(href=`${video.id}/delete`) Delete
  if loggedIn
    div.video__add-comments 
      form.video__comment-form#commentForm
        textarea(cols="30", rows="10", placeholder="댓글을 달자")
        if loggedIn
          button Add Comment
  
  div.video__comments
      ul
          if loggedIn
          each comment in video.comments.reverse()
            li#videoComment.video__comment(data-id=comment.id)
              i.fas.fa-comment
              span #{comment.text}
              if (loggedInUser._id === String(comment.owner._id))
                span#commentDelete(data-id=comment.id).video__comment-delete ❌


block scripts
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSections.js")